html {
    height: 100%;
}

/* create pages */

.homelogo {
    color: #0a0a0a;
    position: absolute;
    z-index: 1000;
}

.container {
    padding-top: 65px;
}

.page-break {
    display: none;
}

.center_form {
    text-align: center;
}

.form_padding {
    padding-top: 20px;
}

.padding_tb {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding_b {
    padding-bottom: 20px;
}

.float_right {
    float: right;
}

.white_text {
    color: white;
}

.checkbox_option {
    width: 175px;
}
/*  create form edit form warning button */
.button_disabled {
    display: none;
}

/* index page filter */

.filter {
    width: 300px;
    display: inline;

}

/* Start page anchor padding*/
.start_padding::before {
    content:"";
    display:block;
    height:80px; /* fixed header height*/
    margin:-80px 0 0; /* negative fixed header height */
}


.select2-container .select2-search__field {

    width: 100% !important;
}

.container .content {
    display: none;
    padding: 5px;
}

/* Hero  */

.header {
    margin-top: 65px;
}

.header h1 {
    /*color: #FFFFFF;*/
    font-size: 86px;
    letter-spacing: -1px;
    line-height: 1;
    padding-top: 30px;
    text-align: center;

}

.header h2 {
    font-size: 25px;
    text-align: center;

}

.hero-unit {

    background-color: #EEEEEE;

    margin-top: 25px;
}

.material_image {
    width: 100%;
}

.hero_extra {
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
}

.spacer {
    width: 370px;
    margin: auto;
}

.selling_points {
    color: white;
    list-style-type: none;
    padding: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.selling_points li {
    text-align: justify;
    font-size: 1.3em;
}

.green {
    color: #22B24C;
}

/* End of hero*/

.user_buttons {
    display: inline-block;
    padding: 5px;
    float: right;
    width: 100%;
}

.user_button {
    float: right;
}

.heading {
    padding-top: 0px;

}

@media (max-width: 1050px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}

/* tooltip */
div.tooltip-inner {
    text-align: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 6px;
    background-color: #505050;
    font-size: 14px;
    max-width: 200px;
    /* If max-width does not work, try using width instead */
    width: 200px;
}

.well {
    background: rgb(34, 178, 76);
    color: white;
    text-align: center;
}

@media print {
    /* Print CSS rules go here */
    /* Note: You need a separate @media screen group for other rules */
    .btn, .alert, #disqus_thread, .comments {
        display: none !important;
    }

    header nav, footer {
        display: none;
    }

    .page-break {
        display: block;
        page-break-before: always;
    }

    img {
        max-width: 100%;
    }

    @page :first {
        margin: 1cm 2cm;
    }

    @page {
        margin: 0.5cm;
    }

    body {
        font: 12pt Georgia, "Times New Roman", Times, serif;
        line-height: 1.3;
    }

    h1 {
        font-size: 24pt;
    }

    h2 {
        font-size: 14pt;
    }

    aside h2 {
        font-size: 18pt;
    }

    blockquote, ul {
        margin: 0;
    }

    /*/!* Large desktop *!/*/
    /*@media (min-width: 1200px) { ... }*/
    /*/!* Portrait tablet to landscape and desktop *!/*/
    /*@media (min-width: 768px) and (max-width: 979px) { ... }*/
    /*/!* Landscape phone to portrait tablet *!/*/
    /*@media (max-width: 767px) { ... }*/
    /*/!* Landscape phones and down *!/*/
    /*@media (max-width: 480px) { ... }*/
}

.scrollToTop{
    padding:10px;
    text-align:center;
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom: 75px;
    right: 20px;
    display:none;
    z-index: 10000;
}
.scrollToTop:hover{
    text-decoration:none;
}