html {
    height: 100%;
}

.container {
    padding-top: 70px;
}

.container_edit {
    padding-top: 0 !important;
}

.center_form {
    text-align: center;
}

.form_padding {
    padding-top: 20px;
}

.padding_tb {
    padding-top: 20px;
    padding-bottom: 20px;
}

.float_right {
    float: right;
}

#create, #edit {
    background: #38839E;
}

#create_level, #edit_level {
    background: #38839E;
}

#create_title, #edit_title {
    background: #754C77;
}

#create_times, #edit_times {
    background: #67A066;
}

#create_optional, #edit_optional {
    background: #BD5A2A;
}

.white_text {
    color: white;
}

/* Hero  */

.header {
    margin-top: 65px;
}

.header h1 {
    /*color: #FFFFFF;*/
    font-size: 86px;
    letter-spacing: -1px;
    line-height: 1;
    padding-top: 30px;
    text-align: center;

}

.header h2 {
    font-size: 25px;
    text-align: center;

}

.hero-unit {

    background-color: #EEEEEE;

    margin-top: 50px;
}

.material_image {
    width: 100%;
}

.hero_extra {
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
}

.spacer {
    width: 305px;
    margin: auto;
}
.selling_points {
    color: white;
    list-style-type: none;
    padding: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.selling_points li {
    text-align: justify;
    font-size: 1.8em;
}

.green {
    color: green;
}
/* End of hero*/

.user_buttons {
    display: inline-block;
    padding: 5px;
    float: right;
    width: 100%;
}

.user_button {
    float: right;
}

.heading {
    padding-top: 0px;

}

@media (max-width: 1050px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}

@media print {
    /* Print CSS rules go here */
    /* Note: You need a separate @media screen group for other rules */
}

/*/!* Large desktop *!/*/
/*@media (min-width: 1200px) { ... }*/

/*/!* Portrait tablet to landscape and desktop *!/*/
/*@media (min-width: 768px) and (max-width: 979px) { ... }*/

/*/!* Landscape phone to portrait tablet *!/*/
/*@media (max-width: 767px) { ... }*/

/*/!* Landscape phones and down *!/*/
/*@media (max-width: 480px) { ... }*/
